host = 127.0.0.1
port = 64738
password = ""
cert =
privkey =

filedir = music

user = musabot
volume = 0.1
same_channel = False
ignore_private = False
random = False

owner =
admins = ,
ignored = ,

youtube_apikey =